.poster__container {
    display: flex;
    width: 100%;
    flex-flow: column;

}
.container {
    &__description{
        padding: 10px 0;
    }
   &__categories{
    display: grid;
    gap:20px;
    grid-template-columns:repeat(3,1fr) ;
   }
  &__image {
    width:100%;
    display: flex;
  }
}
.description {
    &__title {
 
        text-transform: uppercase;
    }
    &__text {

        font-size: 20px;
        padding: 10px 0;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
    }
}
.icons{
&__container{
    padding: 6px;
    border:1px solid #eee;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:5px;
}
&__heart_icon {
    color:red;
    font-size: 22px;
}
&__heart_text {
    color:#111;
}
&__download_icon{
    color:green;
    font-size: 22px;
}
}

.categories{
    &__item{
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        color:#111;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 8px;
        width: 80%;
        background: #eee;
       }
}

@media (min-width:768px) {
    .container{
          &__categories{
            grid-template-columns:repeat(8,1fr) ;
          }
    }
  
   
}