.poster{
    padding: 20px 4px;
    &__container {
    position: relative;
    display: flex;
    flex-flow: column;
    gap:10px;
}
}
.container {
    &__user_information {
        display: flex;
        gap:10px;
        align-items: center;
    }
    &__buttons {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}

.buttons {
    &__icons {
        display: flex;
        gap:12px;
    }
    &__download{
        color:#767676;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
.icons {
    &__container {
        cursor: pointer;
        padding: 8px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#767676;
        border:1px solid #d1d1d1;
        &:hover {
            color:#111;  
            border-color: #111; 
        }
    }
}

.download{
&__text{
    padding: 8px;
    border:1px solid #d1d1d1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    &:hover {
        color:#111;  
        border-color: #111; 
        border-right: 1px solid #111 ;
    }
}
&__icon{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 7.5px;
    border:1px solid #d1d1d1;
    &:hover {
        color:#111;  
        border-color: #111; 
    }
}

}
.switch_btn{
    display: none;
}
@media(min-width:640px) {
    .poster{
        &__container {
      
        &:hover > .container__user_information{
            visibility: visible;
        }
        &:hover > .container__buttons {
            visibility: visible;
        }
      
       
    }
    }
    .container {
        &__user_information {
           visibility: hidden;
           position: absolute;
            color:#FFF;
            top:20px;
            left:10px;
            z-index: 100;
        }
        &__image{
            &:hover{
                filter: blur(3px);
            }
        }
        &__buttons {
            visibility: hidden;
            position: absolute;
            bottom: 20px;
        }
    }    
    .buttons{
        &__icons { 
            
            gap:20px;
        }
        &__download{
           
            
        }
    }
}
@media(min-width:768px){
    .switch_btn{
        display: block;
        background: transparent;
        color:#767676;
        padding: 4px;
        cursor: pointer;
        border:2px solid #d1d1d1;
        margin-bottom: 12px;
    }
}