.header {
  position: relative;
  top: 0;

  background: #FFF;
  &__navbar {
    height: 56px;
    padding: 8px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  &__links {
    display: none;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.icons {
  &__bell {
    cursor: pointer;
    display: none;
  }
  &__user {
    cursor: pointer;
    width: 28px;
    height: 28px;
    color: rgb(200 198 198);
  }
  &__menu {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: rgb(117, 117, 117);
    &:hover {
        color: rgb(164, 161, 161); 
    }
    
  }
}

@media (min-width:640px) {
  .icons {
    &__bell{
      display: block;
    }
  }
}
@media (min-width:768px) {
  .navbar {
    &__links {
      display: flex;
    }
  }
  .links {
    &__block{
      display: none;
    }
    &__button{
      width: 100px;
      cursor: pointer;
      padding: 6px;
      border:1px solid #eee;
      color:#767676;
    }
  }
}
@media (min-width:992px){
  
  .links {
    &__block{
      display: flex;
      gap:20px;
      justify-content: center;
      align-items: center;
      width: 250px;
    }
    &__block_item{
      cursor: pointer;
      text-decoration: none;
      color:#767676;
    
    }
  }
}