.search__form {
    display: flex;

   
}
.form {
    &__input {
        position: relative;
        color: rgb(117, 117, 117);
        padding-left: 40px;
        cursor: pointer;
        border: 1px solid #0000;
        border-radius: 24px;
        height: 40px;
        width: 100%;
        background: #eee;
        &:hover {
            border: 1px solid #0000;
        }
        &:focus {
        background: transparent;
        }
    }
    &__search {
        color:rgb(117, 117, 117);
        position: absolute;
        top:25px;
        left:65px;
        width: 26px;
        height: 26px;
    }
}
.conteiner {
    width: 100%;
}